.container {
	max-width: 800px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
  }
  
  h1 {
	text-align: center;
	margin: 30px 0;
  }
  
  .section {
	margin: 50px 0;
  }
  
  .form-group {
	margin: 20px 0;
  }
  
  label {
	display: block;
	margin-bottom: 10px;
  }
  
  select,
  input[type="number"],
  input[type="text"] {
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: none;
	background-color: #f5f5f5;
	margin-top: 5px;
  }
  
  button {
	background-color: #007bff;
	border: none;
	color: white;
	padding: 10px;
	border-radius: 5px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #0069d9;
  }
  
  table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 50px;
  }
  
  th {
	background-color: #007bff;
	color: white;
	padding: 10px;
  }
  
  td {
	border: 1px solid #ddd;
	padding: 10px;
  }
  
  footer {
	background-color: #f5f5f5;
	padding: 20px;
	margin-top: 50px;
	text-align: center;
	font-size: 12px;
  }